html( lang=str_replace('_', '-', app()->getLocale()) )
    head
        meta( charset="utf-8" )
        meta( name="viewport", content="width=device-width, initial-scale=1" )
        meta( name="csrf-token", content=csrf_token())

        title Curvue

        script.
            function loadAsyncStyleSheets() {
                for( var el = document.getElementsByTagName('head')[0], t = ["https://use.fontawesome.com/releases/v5.1.0/css/all.css", "https://fonts.googleapis.com/css?family=Montserrat|Ubuntu&display=swap"], s = 0; s < t.length; s++ ) {
                    var a = document.createElement('link'), l = document.createAttribute('rel'), n = document.createAttribute('href');
                    l.value = 'stylesheet', n.value = t[s], a.setAttributeNode(l), a.setAttributeNode(n), el.appendChild(a);
                }
            }
            window.addEventListener('load', loadAsyncStyleSheets, !1);

    body
        #app 
            | Loading...

        script( src='js/manifest.js' )
        script( src='js/js/vendor.app.js' )
        script( src='js/js/app.app.js' )
