$brand-colors: (
  primary: (
    default: hsl(6, 56%, 28%),
    dark: hsl(6, 56%, 18%),
    light: hsl(6, 56%, 38%)
  ),
  accent: (
    default: hsl(350, 12%, 47%),
    dark: hsl(350, 12%, 37%),
    light: hsl(350, 12%, 57%)
  ),
  info: (
    default: hsl(185, 60%, 56%),
    dark: hsl(185, 60%, 46%),
    light: hsl(185, 60%, 66%)
  ),
  warn: (
    default: hsla(47, 81%, 56%, 1),
    dark: hsla(47, 81%, 46%, 1),
    light: hsla(47, 81%, 66%, 1)
  ),
  success: (
    default: hsl(125, 70%, 73%),
    dark: hsl(125, 70%, 63%),
    light: hsl(125, 70%, 83%)
  ),
  danger: (
    default: hsl(4, 92%, 46%),
    dark: hsl(4, 92%, 36%),
    light: hsl(4, 92%, 56%)
  ),
  background: (
    default: hsl(240, 7%, 11%),
    dark: hsl(240, 7%, 1%),
    light: hsl(240, 7%, 21%),
    inverse: hsl(240, 7%, 89%)
  ),
  text: (
    inverse: hsla(0, 0%, 20%, 1),
    default: hsla(255, 100%, 100%, 1)
  ),
  shadow: (
    default: hsl(276, 100%, 1%)
  ),
  divider: (
    default: hsl(240, 7%, 31%),
    inverse: hsl(276, 100%, 80%)
  )
);

@function color($color, $tone: 'default') {
  @if map-has-key($brand-colors, $color) {
    @return map-get(map-get($brand-colors, $color), $tone);
  }

  @error 'Color is not supported, refer to colors.scss for supported colors and tone';
}
