$brand-colors: (
  primary: (
    default: hsl(167, 42%, 51%),
    dark: hsl(167, 42%, 41%),
    light: hsl(167, 42%, 61%)
  ),
  accent: (
    default: hsl(246, 33%, 27%),
    dark: hsl(246, 33%, 17%),
    light: hsl(246, 33%, 37%)
  ),
  info: (
    default: hsl(185, 60%, 56%),
    dark: hsl(185, 60%, 46%),
    light: hsl(185, 60%, 66%)
  ),
  warn: (
    default: hsla(47, 81%, 56%, 1),
    dark: hsla(47, 81%, 46%, 1),
    light: hsla(47, 81%, 66%, 1)
  ),
  success: (
    default: hsl(167, 42%, 51%),
    dark: hsl(167, 42%, 41%),
    light: hsl(167, 42%, 61%)
  ),
  danger: (
    default: hsl(355, 54%, 44%),
    dark: hsl(355, 54%, 34%),
    light: hsl(355, 54%, 54%)
  ),
  background: (
    default: hsl(246, 33%, 95%),
    dark: hsl(246, 33%, 91%),
    light: hsl(246, 33%, 99%),
    inverse: hsl(246, 13%, 26%)
  ),
  text: (
    inverse: hsl(60, 100%, 100%),
    default: hsl(0, 0%, 20%)
  ),
  shadow: (
    default: hsl(276, 100%, 1%)
  ),
  divider: (
    default: hsl(240, 7%, 31%),
    inverse: hsl(276, 100%, 80%)
  )
);

@function color($color, $tone: 'default') {
  @if map-has-key($brand-colors, $color) {
    @return map-get(map-get($brand-colors, $color), $tone);
  }

  @error 'Color is not supported, refer to colors.scss for supported colors and tone';
}
