$indexes: (
  navigation: 1,
  drawer: 2,
  hamburger: 3,
  modal: 4,
  notification: 5
);

@function z($index) {
  @if map-has-key($indexes, $index) {
    @return map-get($indexes, $index);
  }

  @error 'Index `#{index}` is not supported!';
}
