$carousel-min-height: 500px;

$carousel-copyright-bottom: space(16);
$carousel-copyright-left: space(16);
$carousel-copyright-shadow: 0 0 space(2) color('background', 'light');

$carousel-indicator-bottom: 0;
$carousel-indicator-space: space();
$carousel-indicator-bg: color('background', 'inverse');
$carousel-indicator-active-bg: color('primary');
