$cookie-consent-index: 2000;
$cookie-consent-bg: color('background', 'inverse');

$cookie-consent-content-padding: space(16);
$cookie-consent-content-color: color('text', 'inverse');

$cookie-consent-icon-color: color('text', 'inverse');

$cookie-consent-button-bg: color('primary');
$cookie-consent-button-hover-bg: color('primary', 'dark');
