$nav-drawer-transition: transform 300ms ease-in-out;
$nav-drawer-index: z('drawer');
$nav-drawer-bg: color('background', 'inverse');
$nav-drawer-color: color('text', 'inverse');
$nav-drawer-max-width: 80%;
$nav-drawer-padding: space(16);
$nav-drawer-margin: space(52) 0 0 0;
$nav-drawer-width: 300px;

$nav-drawer-hamburger-left: space(16);
$nav-drawer-hamburger-top: space();
$nav-drawer-hamburger-color: color('primary');
$nav-drawer-hamburger-padding: space(2) space();
