$pagination-margin: space(16) auto;
$pagination-padding: 0;
$pagination-label-padding: space(16);
$pagination-label-min-width: space(52);
$pagination-button-size: space(52);
$pagination-button-bg: color('background', 'dark');
$pagination-arrow-color: color('primary');
$pagination-arrow-disabled-color: color('background');
