body,
html {
  width: 100%;
  color: color('text');
  background-color: color('background');
  overflow-x: hidden;

  i {
    margin-top: space(2);
  }
}

pre {
  background: color('background', 'inverse');
  padding: space(12) 0;
  color: color('background', 'light');
}

blockquote {
  margin-top: space();
  padding-top: space(2);
  padding-left: space();
  padding-bottom: space(2);
  margin-bottom: space(4);
  border-left: space(4) solid color('accent');
}

.contentBelowNav {
  margin-top: space(52) + space();
}
